/* ---------------------
@Import google fonts
--------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


/* --------------
CSS custom
--------------- */
:root{
  --button-bg: #E02C6D;
  --text-color: #6C6C6C;
}
/* --------------
CSS custom
--------------- */


/*----------------
default settings 
-----------------*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
/*----------------
default settings 
-----------------*/

/*----------
 styles
------------*/
header, section,footer{
  display: flex;
  justify-content: center;
}
.container{
  width: 1050px;
}
a{
  text-decoration: none;
}
img{
  max-width: 100%;
}
.styled-button{
  display: inline-block;
  padding: 10px 30px;
  background: var(--button-bg);
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  transition: all 400ms;
  padding-right: 40px;
}
.styled-button .fas{
  transform: translateX(5px);
  transition: all 400ms;
}
.styled-button:hover .fas{
  transform: translateX(20px);
}
/*----------
 styles
------------*/


/* --------------
header 
----------------*/
.header{
  background: #2D25A0;
  padding: 20px 0;
}
.header #toggle{
  display: none;
}
.header .navigation-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .menu{
  display: flex;
  align-items: center;
}
.header .menu li{
  list-style-type: none;
}
.header .menu li a{
  color: #fff;
  padding: 10px 15px;
  display: inline-block;
  font-weight: 500;
  transition: color 400ms;
}
.header .menu li a:hover{
  color: var(--button-bg);
}
.header .login a{
  display: inline-block;
  padding: 10px 30px;
  background: var(--button-bg);
  color: #fff;
  border: 1px solid transparent;
  transition: all 400ms;
}
.header .login a .fas{
  margin-right: 6px;
}
.header .login a:hover{
  background: transparent;
  border-color: var(--button-bg);
}
/* --------------
header 
----------------*/



/*--------------- 
hero seciton  
----------------*/
#hero{
  padding-bottom: 40px;
  background: #2D25A0;
}
#hero .hero-wrapper{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 40px;
  align-items: center;
}
#hero .hero-details h2{
  font-size: 64px;
  font-weight: bold;
  color: #FFF;
  margin-bottom: 20px;
}
#hero .hero-image{
  position: relative;
}
#hero .hero-image img{
  position: relative;
}
/*------------------ 
hero seciton 
------------------ */


/*------------- 
players section 
-------------- */
#players{
  padding: 40px 0;
}
#players .players-wrapper{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
#players .single-player{
  box-shadow: #11111a0d 0px 4px 16px, #11111a0d 0px 8px 32px;
  padding: 15px;
}
#players .single-player .player-img{
  overflow: hidden;
}
#players .single-player .player-img img{
  transition: transform 700ms;
}
#players .single-player:hover .player-img img{
  transform: scale(1.4) rotate(2deg);
}
#players .single-player .player-info{
  padding: 15px 0 20px;
}
#players .single-player .player-info .player-name{
  margin-bottom: 10px;
  font-size: 28px;
  font-weight: bold;
}
#players .single-player .player-info .player-desc{
  font-size: 16px;
  font-weight: normal;
  color: var(--text-color);
}
/* ------------
 players section  
--------------*/

/*-------------------------------
Contuct Us 
--------------------------------*/
#reserve{
    background: url(images/banner.jpg) center;
    background-size: cover;
    margin: 40px 0;
    padding: 70px 0;
  }
  #reserve .flexing{
      display: flex;
    align-items: center;
  }
  #reserve .reserve-detail{
    width: 40%;
    padding: 40px;
    background: darkgray;
    text-align: center;
  }
  #reserve .box .mini-title{
    font-size: 14px;
    font-style: italic;
    color: #fff;
    text-align: center;
  }
  #reserve .box h3{
    font-size: 30px;
    color: #fff;
    text-align: center;
    margin: 15px 0 20px;
  }
  #reserve .box h5{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin: 25px 0 10px;
  }
  #reserve .box p{
    font-size: 13px;
    color: #fff;
    line-height: 23px;
  }
  #reserve .contact{
    font-weight: 600;
    margin-top: 40px;
  }
  #reserve .reserve-form{
    width: 60%;
    padding: 40px;
  }
  #reserve .reserve-form .flexing{
    margin: 30px 0;
  }
  #reserve .reserve-form .form-half{
    width: 46%;
  }
  #reserve .reserve-form .form-3{
    width: 30%;
  }
  
  .reserve-form input{
    outline: none;
    border: 1px solid #fff9e1;
    border-radius: 20px;
    padding: 12px 20px;
    background: paleturquoise;
    color: #fff;
    font-size: 13px;
    width: 100%;
  }
  .reserve-form .submit{
    transition: 400ms;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    background: #eee;
    color: #a5965a;
  }
  .reserve-form .submit:hover{
    background: transparent;
    color: #fff;
  }
  /*-------------
   contuct us
  -------------- */


/*-------------- 
footer seciton 
----------------*/
footer{
  padding: 50px 0 30px;
}
footer .footer-logo{
  text-align: center;
}
footer .footer-logo img{
  height: 100px;
  width: auto;
}
footer .social-icons{
  text-align: center;
  margin: 10px 0;
}
footer .social-icons a{
  color: #111;
  padding: 10px;
  background: #ddd;
  font-size: 20px;
  display: inline-block;
  width: 50px;
  border-radius: 50%;
  transition: all .4s;
}
footer .social-icons a:not(:last-child){
  margin-right: 7px;
}
footer .social-icons a:hover{
  background: var(--button-bg);
  color: #fff;
}
footer p.copy-right{
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  margin-top: 20px;
}
/*------------------- 
footer seciton 
--------------------*/




/* --------------------------------------
    Responsive
----------------------------------------*/

/* ---------------------------------------
  Mobile responsive
--------------------------------------- */
@media (max-width: 576px) { 
  .container{
    width: 95%;
    padding: 0 10px;
  }

  /* header section */

  .header .menu{
    display: none;
  }
  .header #toggle{
    display: inline-block;
    color: #fff;
    font-size: 30px;
  }

  /* hero section */
  #hero .hero-wrapper{
    grid-template-columns: repeat(1, 1fr);
    padding: 70px 0 50px;
    width: 100%;
  }
  .hero-image{
    margin-top: 95px;
  }
  #hero .hero-details h2{
    font-size: 45px;
    margin-bottom: 20px;
  }
  /* players section */
  #players .players-wrapper{
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
  /* contact section */
  #reserve{
    display: none;
  }
}
/*----------------------------------------- 
Tab responsive
------------------------------------------*/
@media only screen and (min-width:577px) and (max-width: 768px) {
  .container{
    width: 95%;
    padding: 0 10px;
  }

}